@font-face {
  font-family: 'Arco';
  src: local('Arco'), url('./fonts/ARCO.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url('./fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'), url('./fonts/Poppins-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #03C4A1;
}

p {
  margin: 0!important;
}

.navbar {
  height: 80px;
}

.nav-item {
  margin-right: 2em;
  font-family: 'Arco';
  font-size: 1.3em;
}

.nav-item:hover {
  color: #9BAEC2;
}

.logoRoboticaContainer {
  width: 80px;
  height: 70px;
}

.logoRobotica {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.marcaRobotica {
  color: #fff;
  font-family: 'Arco';
  font-size: 2em;
}

.bi-cart {
  color: #fff;
  font-size: 22px;
  margin-right: 1em;
}

.bntContainer.ms-5 {
  display: flex;
  justify-content: flex-end;
}

.itemCount {
  width: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.btnAgregar {
  
}

.productosContainer {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px auto;
  max-width: 60em;
}

.btn-details {
  padding: 0.3em;
  font-size: .9em;
  text-transform: uppercase;
  margin-top: 1.5em;
  background-color: #03C4A1;
  border-color: #03C4A1;
  color: #fff;
  font-family: 'Poppins-Bold';
}

.btn-details:hover {
  color: #03C4A1;
}

.btn-counter {
  background-color: #150485;
  color: #fff;
  font-weight: 900;
}

.btn-counterAdd {
  background-color: #03C4A1;
  border-radius: #03c4a1;
  color: #fff;
  font-family: 'Poppins-Bold';
  margin-left: 1em;
}

.btn-counterAdd:hover {
  color: #03C4A1;
}

#imgProducts {
  width: 250px;
}

.card {
  align-items: center;
}

.card-body {
  text-align: center;
}

.col_itemdetail {
  display: flex;
  align-items: center;
  background-color: #0a0a0a;
  color: #fff;
  padding: 1em;
}

.price_itemdetail {
  font-size: 2em;
  margin-top: 2em;
}

.text-muted {
  font-size: 0.75em!important;
  color: #ffff00!important;
}

.description_itemdetail {
  text-align: justify;
}

.itemdetail_container {
  margin: 4em;
}

.itemCountContainer {
  display: flex;
  flex-direction: row-reverse;
  padding: 3em;
}

.imgUnderContainer {
  width: 100%;
  height: 100%;
}

.imgUnderConstruction {
  width: 100%;
  height: auto;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}


/* SPINNER */

.cssload-loader{
  position: relative;
  width: 150px;
  height: 150px;
  perspective: 780px;
  top: 50%;
  left: 125%;
}

.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 1.15s linear infinite;
  -o-animation: cssload-rotate-one 1.15s linear infinite;
  -ms-animation: cssload-rotate-one 1.15s linear infinite;
  -webkit-animation: cssload-rotate-one 1.15s linear infinite;
  -moz-animation: cssload-rotate-one 1.15s linear infinite;
  border-bottom: 10px solid #03C4A1; /*ACA*/
}
.cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 1.15s linear infinite;
  -o-animation: cssload-rotate-two 1.15s linear infinite;
  -ms-animation: cssload-rotate-two 1.15s linear infinite;
  -webkit-animation: cssload-rotate-two 1.15s linear infinite;
  -moz-animation: cssload-rotate-two 1.15s linear infinite;
  border-right: 10px solid #03C4A1; /*ACA*/
}
.cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 1.15s linear infinite;
  -o-animation: cssload-rotate-three 1.15s linear infinite;
  -ms-animation: cssload-rotate-three 1.15s linear infinite;
  -webkit-animation: cssload-rotate-three 1.15s linear infinite;
  -moz-animation: cssload-rotate-three 1.15s linear infinite;
  border-top: 10px solid #03C4A1; /*ACA*/
}

@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}